mixin input-group__subscription(title, placeholder, type, value)
    .input-group
        label.input-group__title=title
        input.input-group__text(id=id, type=type, placeholder=placeholder, value=value)
        .input-group__button.input-group__button-purple arrow_forward