mixin input-group__text(title, placeholder, type, mask, value)
    .input-group
        label.input-group__title=title
        input.input-group__text(id=id, type=type, placeholder=placeholder, value=value, pattern=mask)